// Contact section specific styles
.contact {
  background-color: $black;
}

.contact-wrapper {
  padding: 4% 0 2%;
	margin-left: 8%;
  width: 80%;
}

form {
  display: flex;
  flex-wrap: wrap;
  .name,
  .email {
    flex-basis: 50%;
    input {
      padding: 2%;
      width: 90%;
      border: 3px solid $yellow;
      background-color: $black;
    }
    input[type="text"]::placeholder,
    input[type="email"]::placeholder {
      color: $white;
    }
  }
  .message {
    flex-basis: 100%;
    textarea {
      resize: none;
      width: 95%;
      height: 200px;
      border: 3px solid $yellow;
      background-color: $black;
      margin: 0 auto;
      padding: 2%;
    }
    textarea::placeholder {
      color: $white;
    }
  }

  button {
    background-color: $grey;
    border: $grey 3px solid;
    color: $black;
    margin: 2% 0;
    padding: 3%;
  }

  button:hover,
  button:focus {
    background-color: $black;
    border: $yellow 3px solid;
    color: $yellow;
  }
}