//Index Header Styles Here

header {
	height: 85vh;
	background-color: $dark-grey;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;

	.profile-image {
		height: auto;
		width: 35%;
		z-index: 25;
		position: absolute;
		bottom: 22%;
	}

	.header-text{
		padding: 5% 0;
		background-color: $black;
		border-top: $yellow 3px solid;

		h2 {
			margin-left: calc((100% / 2) - 60px);
		}
		
		p {
			margin-left: calc((100% / 2) - 60px);
			padding: 1.5% 0;
		}		
	}
		
}


// Sticky nav bar 
.sticky-nav {
	height: 5%;
	position: sticky;
	top: 0;
	z-index: 100;
	}

.top-nav {
	background-color: $yellow;
	padding: 5px 0;
	ul {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		li {
			padding: 1.5rem;
		}
	}
}

// Listen, there is probably a more efficient way to align these nav links but this works for now and we'll fix it later.
.top-nav > div:nth-child(1) > ul:nth-child(1) > li:nth-child(4),
.top-nav > div:nth-child(1) > ul:nth-child(1) > li:nth-child(5),
.top-nav > div:nth-child(1) > ul:nth-child(1) > li:nth-child(6),
.top-nav > div:nth-child(1) > ul:nth-child(1) > li:nth-child(7) {
 margin-top: 5px;
}
