// Hello this is where mediaQueries live. Long live responsive design

@media (min-width: 1440px) {
  //Skills gallergy media queries: 
  .skills-row-1,
  .skills-row-2,
  .skills-row-3,
  .skills-row-4  {
    flex-basis: 50%;
    margin: 4% 0;
  }

  .skills-text {
    margin: 4%;
  }
  .skills-text:nth-child(4) {
    margin-right: 0px;
    // padding-left: 38px;
  }
  i {
    font-size: 10rem;
    color: $black;
  }

}

@media (max-width: 1280px) {
    header {
      h1 {
        font-size: 7.5rem;
      }
      h2 {
        font-size: 3.5rem;
      }
    }
}



@media (max-width: 1040px) {
  body {
    font-size: 1.5rem;
  }

  .header-text-box {
    width: 100%;
    margin-left: 2%;
    h1 {
    font-size: 6.5rem;
    margin-bottom: 2%;
    }
    h2 {
    font-size: 2.5rem;
    }
  }

  .projects,
  .skills,
  .contact {
    h2 {
      font-size: 4rem;
    }
  }

  .skills {
    i {
      font-size: 8rem;
    }

  }
  .project-flex {
    flex-direction: column;
  }

  ul li a {
  font-size: 2rem;
  }
}

@media (max-width: 837px) {
  header {
    .header-text {
      text-align: center;
      h2,
      p {
        margin-left: 0;
      }
    }
    .profile-image {
      height: 290px;
      bottom: 50%;
      left: 37%;
    }
  }
  .skills-gallery {
    i {
      font-size: 5rem;
    }

    .skills-text {
	    li {
		  font-size: 2rem;
	    } 
    }
  }
} 

@media (max-width: 450px) {
  .wrapper {
    max-width: 500px;
  }
  header {
    .profile-image {
      height: 200px;
      bottom: 65%;
      left: 30%;
    }
  }

  .skills {
    i {
      font-size: 3rem;
    }
  }

  .skills-gallery,
  .cheeky-skills {
    width: 95%;
    .skills-text {
      li {
        font-size: 1.5rem;
      }
    }
  }


  .cheeky-skills {
    padding: 2%;
  }

  form {
    flex-direction: column;
    .name,
    .email {
      input {
        width: 95%;
      }
    }
    button {
      width: 95%;
    }

  }

}
  