// Hello this is where mediaQueries live. Long live responsive design

@media (min-width: 1440px) {
  //Skills gallergy media queries: 
  .skills-row-1,
  .skills-row-2,
  .skills-row-3,
  .skills-row-4  {
    flex-basis: 50%;
    margin: 4% 0;
  }

  .skills-text {
    margin: 4%;
  }
  .skills-text:nth-child(4) {
    margin-right: 0px;
    // padding-left: 38px;
  }
  i {
    font-size: 10rem;
    color: $black;
  }

}

@media (max-width: 1280px) {
    header {
      h1 {
        font-size: 7.5rem;
      }
      h2 {
        font-size: 3.5rem;
      }
    }
}



@media (max-width: 1040px) {
  body {
    font-size: 1.5rem;
  }

  .header-text-box {
    width: 100%;
    margin-left: 2%;
    h1 {
    font-size: 6.5rem;
    margin-bottom: 2%;
    }
    h2 {
    font-size: 2.5rem;
    }
  }

  .projects,
  .skills,
  .contact {
    h2 {
      font-size: 4rem;
    }
  }

  .skills {
    i {
      font-size: 8rem;
    }

  }
  .project-flex {
    flex-direction: column;
  }

  ul li a {
  font-size: 2rem;
  }
}

@media (max-width: 837px) {
  header {
    .header-text {
      text-align: right;
      h2,
      p {
        margin-right: 1.5%;
      }
    }
    .profile-image {
      height: 290px;
      bottom: 50%;
      left: 30%;
    }
  }

  //Hamburger NAV!!!!
  .top-nav {
    text-align: right;
    ul.hamburger-nav {
      display: none;
      position: absolute;
      top: 35px;
      right: 4%;
      background-color: $yellow;
      width: 35%;
      transition: all 0.5s;
      li {
        margin-right: 6%;;
      }
    }
  }

  .fa-bars {
	  visibility: visible;
    font-size: 4rem;
  }

  input[type="checkbox"]:checked + ul.hamburger-nav {
    display: flex;
    flex-direction: column;
  }

  .fa-bars:hover,
  .fa-bars:focus {
    color: $white;
  }


  .skills-gallery {
    i {
      font-size: 5rem;
    }

    .skills-text {
	    li {
		  font-size: 2rem;
	    } 
    }
  }
} 

@media (max-width: 475px) {
  .wrapper {
    max-width: 475px;
  }
  
  header {
    .profile-image {
      height: 200px;
      bottom: 65%;
      left: 30%;
    }
  }

    ul.hamburger-nav {
      li {
        i {
          font-size: 2rem;
        }
        a {
          font-size: 1.7rem;
        }
      }
    }

  .projects {
    .project-gallery {
        .project-grey {
          margin-left: 0;
      }  
    }
  }
  

  .skills {
    i {
      font-size: 3rem;
    }
  }

  .skills-wrapper {
    background-color: $black;
    padding: 0;
  }

  .skills-gallery,
  .cheeky-skills {
    width: 100%;
    .skills-text {
      li {
        font-size: 1.5rem;
      }
    }
  }


  .cheeky-skills {
    padding: 0 15px 0 0;
    margin: 2% 4% 0 0;
  }

  form {
    flex-direction: column;
    .name,
    .email {
      input {
        width: 95%;
      }
    }
    button {
      width: 95%;
    }

  }

}
  