// Styles for project section

.projects {
  .project-gallery {
    display: flex;
    flex-direction: column;
    .project-grey {
      background-color: $grey;
      margin-left: 8%;
      padding: 4% 0;
      .project-text {
        flex-basis: 50%;
      }
    }
    .project-yellow {
      background-color: $yellow;
      display: flex;
      flex-wrap: wrap;
      .inner-box {
        margin-left: 8%;
        padding: 4% 0;
      }
    }
  }
  padding-bottom: 8%;
}

.project-flex {
  display: flex;
  .project-img {
    flex-basis: 50%;
  }
  .project-text {
    flex-basis: 50%;
    background-color: $white;
    padding: 5%;
  }

}