//Styles specifically for the little skills area

.skills {
  background-color: $black;
}

.skills-wrapper {
  background-color: $grey;
  padding: 4% 0;
  margin-left: 8%;
}

.skills-gallery {
  background-color: $yellow;
  padding: 8% 12% ;
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  .skills-row-1,
  .skills-row-2,
  .skills-row-3 {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    margin: 4% 0;
  }
  .skills-row-4 {
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
    margin: 4% 0;
  }

  .skills-text {
    margin: 4%;
  }

  i {
    font-size: 10rem;
    color: $black;
  }

}

.cheeky-skills {
    background-color: $black;
    width: 88%;
    padding: 2% 0;
    text-align: center;
  }