//Styles specifically for the little skills area

.skills {
  background-color: $black;
}

.skills-wrapper {
  background-color: $grey;
  padding: 4% 0;
  margin-left: 8%;
}

.skills-gallery {
  background-color: $yellow;
  padding: 8% 12% ;
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  .skills-row-1,
  .skills-row-2,
  .skills-row-3 {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    margin: 4% 0;
    text-align: center;
  }

  .skills-row-4 {
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    margin: 5% 0 4%;
  }


  ul {
      flex-basis: 100%; 
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      padding: 0;
      li {
        width: calc(100% / 3);
        text-align: center;
      }
  }
  
  .skills-text-4 {
    justify-content: center;
  }

  i {
    font-size: 10rem;
    color: $black;
  }

}

.cheeky-skills {
    background-color: $black;
    width: 88%;
  }