
html {
    font-size: 62.5%
}

p {
	margin: 0;
	padding: 0;
}

main {
  color: $grey;
  text-align: right;

  .div-1 {
	max-width: 65%;
	margin-right: 30px;
  }

  h1 {
    font-family: serif;
	font-size: 8rem;
	font-weight: 300;
	margin-bottom: 0;
  }
}

// Footer typographer section:
.footer-note {
	color: $yellow;
	font-size: 4rem;
	padding: 2%;
	text-align: right;
	margin-right: 30px;
}


