
html {
    font-size: 62.5%
}

h1, h2, a {
	font-family: $ibm;
	margin: 0;
	padding: 0;
}

h2 {
	font-weight: 300;
	font-size: 6rem;
}

p {
	margin: 0;
	padding: 0;
}

body {
  font-size: 1.7rem;
  font-family: $lato;
  color: $white;
}

//Icon styling
.fab {
	font-size: 4rem;
}

//Link styles
ul li a {
  font-size: 2.5rem;
}

a:visited, a {
	font-family: $ibm;
	color: $white;
	text-decoration: none;
}

a:hover,
a:focus {
	color: $orange;
	border-bottom: $orange 2px solid;
}

// Buttons

// Header specific typographical elements

header {
  color: $white;
  text-align: right;

  h1 {
  font-family: $ibm;
	font-size: 9rem;
	font-weight: 300;
	font-style: Italic;
  }
}

// Project typography

.projects, .skills{
	h2 {
		font-size: 6rem;
    margin: 8% 40px;
	}
}

.link-box {
	font-size: 3rem;
	a:hover,
	a:focus {
		color: $blue;
		border-bottom: $blue 2px solid;
	}
}

// Skills typography section

.skills {
	h2 {
		color: $yellow;
		text-align: right;
		padding-top: 8%;
		margin-bottom: 5%;
	}
}

.skills-text {
	li {
		font-size: 3rem;
		font-family: $ibm;
	}
}

.cheeky-skills {
	color: $white;
}

// Contact typography section:
.contact-header {
	color: $yellow;
	padding: 8% 0;
	margin-left: 40px;
}


