
html {
    font-size: 62.5%;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

main {
  color: $grey;
  text-align: right;

  .div-1 {
	max-width: 65%;
	margin-right: 30px;
  }

  h1 {
  font-family: serif;
	font-size: 8rem;
	font-weight: 300;
	margin-bottom: 0;
  }
}

// Footer typographer section:
.footer-note {
	color: $yellow;
	font-size: 4rem;
	padding: 2%;
	text-align: right;
	margin-right: 30px;
}

.contact-links {
	color: $yellow;
	font-size: 4rem;
	padding: 0.5rem;
	font-size: 3.5rem;
}

.contact-links:hover {
	color: $text-grey;
}
