@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,300;0,400;1,400&display=swap');

//Font variables
$lato: 'Lato', sans-serif;

//Colour variables
$white: #FDFBF7;
$black: #000000;
$trans-black: rgba(17, 17, 17, 0.404);

$blue: #5999EC;
$dark-grey: #211E1E;
$text-grey: #d7cfcf;
$grey: #C4C4C4;
$orange: #FD7E14;
$yellow: #EFB524;
$trans-yellow: #efb524af;
