// hi hello and welcome to your portfolio styles. my name is Alex and I will be your host for this evening and for the rest of your life. 

//partials imports:
@import "partials/setup";
@import "partials/variables";
@import "partials/typography";

.wrapper {
  max-width: 1280px;
	width: 90%;
  margin: 0 auto;
}


a:visited, a {
	color: rgb(215, 207, 207);
	text-decoration: none;
}

a:hover,
a:focus {
	color: goldenrod;
	text-decoration: none;
}

body {
	background-color: $white;
	color: $black;
	text-align: right;
}



h2, 
p {
	padding-right: 2rem;
}

nav {
	padding-right: 1.5rem;
}

.fab {
	font-size: 2rem;
	padding: 0.5rem 0.5rem;
}

.flexBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
}