// hi hello and welcome to your portfolio styles. my name is Alex and I will be your host for this evening and for the rest of your life. 

//partials imports:
@import "partials/setup";
@import "partials/variables";
@import "partials/typography";
@import "partials/index-header";
@import "partials/projects.scss";
@import "partials/skills";
@import "partials/contact";
@import "partials/footer";
@import "partials/mediaQueries";
@import "partials/animations";


//some cross document universal styles

.wrapper {
  max-width: 1280px;
	width: 90%;
  margin: 0 auto;
}


